@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0D0B0C !important;
}

body {
  background-color: #0D0B0C !important;
  margin: 0;
  padding: 0;
}


#root {
  width: 100%;
}
